@charset "UTF-8";


header {
  grid-column: 1/5;
  display: grid;
  grid-auto-columns: 4fr;
  grid-template-columns: 15% 20% 40% auto;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #008CBA;
  animation-name: example;
  animation-duration: 4s;

}
header #sistema_integrado {
  display: grid;
  grid-column: 3/4;
  justify-self: start;
  align-content: center;
  padding-bottom: 10px;
}
header #usuariocabecera {
  grid-column: 4/5;
  justify-self: center;
  align-self: center;
}
header img {
  width: 50px;
  height: 50px;
  clip-path: circle(50%);
  opacity: 0.6;
}
form#formain input{
  border: 2px solid #8c8c8c;
  border-radius: 5px;
  height: 25px;
}

nav{
        
  grid-column: 1/5;
  border: solid black; 
  padding: 0px; 
  margin: 0px;  
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr ;
  /*grid-template-columns: 55% auto;*/
  padding:0px;
  margin: 0px;
}
nav .navmovil .oculto button {
  visibility: hidden;
  display: none;
}
nav .navmovil ul li 
{
    width: 100%;
   
}

nav nav .navmovil ul li {
width: 100%;
}
nav nav .navmovil ul li .ulnav {
height: 100%;
}
nav .navmovil ul li .ulnav ul li
{
    border-right: black solid 1px;
}
nav .navmovil ul {
  padding: 0;
  margin: 0;
  align-self: center;
  justify-content: center;
  display: flex;
  text-align: center;
  list-style-type: none;
  width: 100%;
  height: 100%;
}
nav .navmovil ul #botonuser {
  visibility: hidden;
  display: none;
}
nav .navmovil ul #boton5 {
  visibility: hidden;
  display: none;
}
nav .ulnav2 ul {
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  list-style-type: none;
  height: 100%;
}
nav .ulnav2 li #lupa {
  width: 20px;
  height: 20px;
}
nav img {
  width: 30px;
  height: 30px;
}

.ingreso{
  
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  position: relative;
  animation: mymove 1.5s ;
  animation-timing-function: ease-in-out;

}
@keyframes mymove {
  from {left: 0px;}
  to {left: 100px;}
  to {right: 100px;}
}

main {
  background-image: url(../Tarea03_IDAT_Grupo5/Imagenes/fondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

#formbuscar{
  width:100%;
}

.button {
  color: white;
  margin: 0.5%;
    padding: 1.5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonForm {

  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.button2 {
  background-color: white; 
  color: black; 
  text-align: center;
  border: 2px solid #008CBA;
  padding: 12px 2px;
  border-radius: 4px;
}

.boton-amburguesa{
  padding: 15px;
    border: 2px solid #4d4d4d;
    border-radius: 7px;
    background-color: white;
}

#menu-amburguesa{
  display: none;
  visibility: hidden;

}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button5 {
  background-color: white;
  color: black;
border-radius: 5px;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}



input[type=search] {
  width: 30%;
  transition: all 0.4s ease-in-out;
}

input[type=search]:focus {
  width: 50%;
}

@keyframes example {
  from {background-color: #008CBA;}
  to {background-color: black;}
}

main {
  grid-column: 1/5;
  border: solid black;
  font-family: Courier New, Courier, monospace;
  display: grid;
  gap: 10px;
  justify-content: center;
  background-color: #e1edf3;
  color: black;
}
main fieldset {
  width: 50vw;
  display: grid;
}
main #span1 input {
  justify-content: stretch;
  width: 30%;
  height: 20px;
  margin: 0px;
  padding: 0px;
}

main #span1 button {
  justify-content: stretch;
  width: 25%;
  height: 20px;
  margin: 0px;
  padding: 0px;
}
main #formain {
  justify-content: center;
}
main #formain  #foto {
  width: 60%;
}
main #span2 {
  display: block;
  text-align: center;
}
main #span2 > button {
  width: 180px;
  margin: 0.5%;
}
main fieldset input:required:focus:valid {
  background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% #9EEB00;
  background-size: 18px;
  border-color: green;
}
main fieldset input:required:focus:invalid {
  background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% #FF5240;
  background-size: 18px;
  border-color: red;
}
main #formain #categoría
{
  width: 177px;
  margin-left: 15px;
}
main #formain #fecha
{
  width: 177px;
}
main #formain input {
  margin-left: 15px;
}
main #formain label {
  margin-left: 10%;
  display: inline-block;
  width: 100px;
}

/* main #span2 > button {
  width: 180px;
} */

footer {
  grid-column: 1/5;
  border: solid black;
  display: grid;
  grid-auto-columns: 3fr;
  align-items: center;
  justify-items: center;
  background-color: cornflowerblue;
  color: black;
}
footer #que_hacemos {
  grid-column: 1/2;
}
footer #enlaces {
  grid-column: 2/3;
}
footer #contáctanos {
  grid-column: 3/4;
}

body {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-rows: 15% auto auto 8%;
  gap: 10px;
}

textarea {
  margin-left: 15px;
  resize: none;
}

  .menu-movil {
    background-color: black;
    position: absolute;
    z-index: 2;
    top: 260px;
    left: 8px;
    width: 25%;
    display: none;
    visibility: hidden;
    opacity: 70%;
    padding: 15px 0px 15px 15px;
  }
.item-menu-movil{
  color: white;
  font-weight: bolder;
  margin: 5px auto;
  padding: 2.5%;
}
.item-menu-movil i{
  margin-right: 15px;
}

@media screen and (max-width:870px)

{.navmovil{
  display: none;
  visibility: hidden;
}

#menu-amburguesa{
  display: inline-block;
  visibility: visible;
  margin: 12%;
}

#menu-amburguesa .boton-amburguesa:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

#menu-amburguesa .boton-amburguesa:hover + div.menu-movil, #menu-amburguesa .menu-movil:hover{
  
  display: block;
  visibility: visible;                                          
}

/*me cortaste :'c*/




.ulnav2{
  padding: 2%;
}


#inputbuscador {
  width: 30%;
  transition: all 0.4s ease-in-out;
}

#inputbuscador:focus {
  width: 50%;
}

nav {
    grid-column: 1/5;
    border: solid black;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 95% ;
    padding: 0px;
    margin: 0px;
}
main fieldset {
  width: 85vw;
  display: grid;
}
main #formain  #foto {
  margin-left: 15px;
  width: 55%;
}

}

@media screen and (max-width:528px)
{
   
  #inputbuscador
  {
      width:30%;
  }
  

  #inputbuscador:focus {
    width: 50%;
  }

  nav .ulnav2 ul #formbuscar button label
  {
      display :none
  }
  header #sistema_integrado {
      display: grid;
      grid-column: 2/4;
      justify-self: start;
      align-content: center;
      padding-bottom: 10px;
  }
  main #span1 input {
    justify-content: stretch;
    width: 20%;
    height: 20px;
    margin: 0px;
    padding: 0px;
  }
  main #formain label {
    margin-left: 5%;
    display: inline-block;
    width: auto;
}
  main #formain {
    justify-content: stretch;
    display: grid;
}
  main #formain #categoría
{
  margin-left: 15px;
  
}
  main #formain  #foto {
    margin-left: 15px;
    width: 100%;
  }
  main #span1 input {
    justify-content: stretch;
    width: 20%;
    height: 20px;
    margin: 0px;
    padding: 0px;
    margin-left: 15px;
}
main #span1 input {
  justify-content: stretch;
  width: 20%;
  height: 20px;
  margin: 0px;
  padding: 0px;
  margin-left: 15px;
}
  main #span1 button {
    width: 35%;
    height: 25px;
    
    margin-left: 2px; 
}
.menu-movil {
  
  width: 30%;

}
  @media screen and (max-width:446px)
{
  

    main #span1 input {
      justify-content: stretch;
      width: 30%;
      height: 20px;
      margin: 0px;
      padding: 0px;
      margin-left: 0px;
  }
  main #span1 button {
    justify-content: stretch;
    width: 35%;
    height: 25px;
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
  }
  main #span1  {
    justify-content: stretch;
    width: auto;
    height: 20px;
    margin: 0px;
    padding: 0px;
    margin-left: 15px;
    
  }
  main #span2 > button {
    width: 45%;
    margin: 0.5%;
  }
  main #formain #fecha {
    width: 172px;
  }
  main #formain label {
    margin-left: 5%;
    display: inline-block;
    width: auto;
  }
  
    .menu-movil {
      background-color: black;
      position: absolute;
     
      top: 270px;
      left: 8px;
      width: 40%;
      display: none;
      visibility: hidden;
      opacity: 66%;
      padding: 15px 0px 15px 15px;
    }
}
    
    
}
